# Lab 1

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
spark

In [4]:
path = "../Datasets/salary.csv"
! head $path

Age,Gender,Education Level,JobTitle,YearsOfExperience,Salary
32,Male,Bachelor's,Software Engineer,5,$90000
28,Female,Master's,Data Analyst,3,$65000
45,Male,PhD,Senior Manager,15,$150000
27,Male,,Developer,7,$100000
36,Female,Bachelor's,Sales Associate,7,$60000
52,Male,Master's,Director,20,$200000
29,Male,Bachelor's,Marketing Analyst,2,$55000
42,Female,Master's,Product Manager,12,$120000
31,Male,Bachelor's,Sales Manager,4,$80000

In [5]:
mydata = spark.read.load(path, format="csv", sep=",", inferSchema="true", header="true")
mydata.count()

6703

In [6]:
mydata.columns

['Age', 'Gender', 'Education Level', 'JobTitle', 'YearsOfExperience', 'Salary']

In [7]:
mydata.select("Education Level").show(5)

+---------------+
|Education Level|
+---------------+
|     Bachelor's|
|       Master's|
|            PhD|
|           NULL|
|     Bachelor's|
+---------------+
only showing top 5 rows

In [8]:
mydata = mydata.filter(mydata.Salary.isNotNull()).filter(mydata.Salary.isNotNull())

In [9]:
mydata = mydata.withColumn("clean_salary", F.regexp_replace("Salary", "[$,]", "").cast("double"))

In [10]:
mydata.select(F.avg('clean_salary').alias('average_salary')).show()

+------------------+
|    average_salary|
+------------------+
|115326.96477086132|
+------------------+

In [11]:
mydata.select(F.avg('clean_salary')).take(1)[0]

Row(avg(clean_salary)=115326.96477086132)

In [12]:
mydata.show(truncate=False)

+---+------+---------------+---------------------+-----------------+-------+------------+
|Age|Gender|Education Level|JobTitle             |YearsOfExperience|Salary |clean_salary|
+---+------+---------------+---------------------+-----------------+-------+------------+
|32 |Male  |Bachelor's     |Software Engineer    |5.0              |$90000 |90000.0     |
|28 |Female|Master's       |Data Analyst         |3.0              |$65000 |65000.0     |
|45 |Male  |PhD            |Senior Manager       |15.0             |$150000|150000.0    |
|27 |Male  |NULL           |Developer            |7.0              |$100000|100000.0    |
|36 |Female|Bachelor's     |Sales Associate      |7.0              |$60000 |60000.0     |
|52 |Male  |Master's       |Director             |20.0             |$200000|200000.0    |
|29 |Male  |Bachelor's     |Marketing Analyst    |2.0              |$55000 |55000.0     |
|42 |Female|Master's       |Product Manager      |12.0             |$120000|120000.0    |
|31 |Male  |Bachelor's     |Sales Manager        |4.0              |$80000 |80000.0     |
|26 |Female|Bachelor's     |Marketing Coordinator|1.0              |$45000 |45000.0     |
|38 |Male  |PhD            |Senior Scientist     |10.0             |$110000|110000.0    |
|29 |Male  |Master's       |Software Developer   |3.0              |$75000 |75000.0     |
|48 |Female|Bachelor's     |HR Manager           |18.0             |$140000|140000.0    |
|35 |Male  |Bachelor's     |Financial Analyst    |6.0              |$65000 |65000.0     |
|40 |Female|Master's       |Project Manager      |14.0             |$130000|130000.0    |
|27 |Male  |Bachelor's     |Customer Service Rep |2.0              |$40000 |40000.0     |
|44 |Male  |Bachelor's     |Operations Manager   |16.0             |$125000|125000.0    |
|33 |Female|Master's       |Marketing Manager    |7.0              |$90000 |90000.0     |
|39 |Male  |PhD            |Senior Engineer      |12.0             |$115000|115000.0    |
|25 |Female|Bachelor's     |Data Entry Clerk     |0.0              |$35000 |35000.0     |
+---+------+---------------+---------------------+-----------------+-------+------------+
only showing top 20 rows