# Initial settings
Needed imports and create a Spark session

In [3]:
import pyspark
from pyspark.sql import SparkSession, Row
import pyspark.sql.functions as F

In [4]:
from ydata_profiling import ProfileReport

In [5]:
# build our SparkSession

spark = SparkSession\
        .builder\
        .appName("BigData")\
        .config("spark.sql.shuffle.partitions",6)\
        .config("spark.sql.repl.eagereval.enabled",True)\
        .getOrCreate()

# Create two rows

In [6]:
a_row = Row('555555', '85123B', '1st row', 2016, 6, 2.1, 141131, 'Lisbon')
print(a_row)
b_row = Row('555555', '85123B', '2nd row', 2016, 6, 2.1, 141131, 'Lisbon')
print(b_row)

<Row('555555', '85123B', '1st row', 2016, 6, 2.1, 141131, 'Lisbon')>
<Row('555555', '85123B', '2nd row', 2016, 6, 2.1, 141131, 'Lisbon')>

# From the Rows create a Dataframe

In [12]:
new_df = spark.createDataFrame([a_row, b_row])

# checking
new_df.take(1)
new_df.show()

+------+------+-------+----+---+---+------+------+
|    _1|    _2|     _3|  _4| _5| _6|    _7|    _8|
+------+------+-------+----+---+---+------+------+
|555555|85123B|1st row|2016|  6|2.1|141131|Lisbon|
|555555|85123B|2nd row|2016|  6|2.1|141131|Lisbon|
+------+------+-------+----+---+---+------+------+

# Save the Dataframe in a parquet file

In [8]:
new_df.write.mode("overwrite").parquet("teste")

In [9]:
df = spark.read.parquet("teste")

In [10]:
df.show()

+------+------+-------+----+---+---+------+------+
|    _1|    _2|     _3|  _4| _5| _6|    _7|    _8|
+------+------+-------+----+---+---+------+------+
|555555|85123B|1st row|2016|  6|2.1|141131|Lisbon|
|555555|85123B|2nd row|2016|  6|2.1|141131|Lisbon|
+------+------+-------+----+---+---+------+------+